$white-color: #FFF;
$dark-pink-header: #DD2242;
$text-color-gray-header: #939393;
$Text-Lighten: #E0E0E0;
$Blue-Background: #010A20;
$black-color: #000;
$Paragraph-Dark: #6F7787;
$Light-Text: rgba(21, 20, 57, 0.40);
$Light-Text-line: rgba(21, 20, 57, 0.4);
$Light-Text-footer: rgba(0, 0, 0, 0.1);
$Text-footer-blue: #1877F2;
$Text-footer-light-blue: #1DA1F2;
$Text-footer-red: #f91d1d;
$fill-modal: #1a62ff;
$color-modal-gray: #757575;
$color-modal-dark-gray: #292929;
$bg-getting: #DCE8F2;
$color-red-getting: #ff0000;
$color-orange-getting: #ff7300;
$color-yellow-getting: #fffb00;
$color-light-green-getting: #48ff00;
$color-turquoise-getting: #00ffd5;
$color-blue-getting: #002bff;
$color-violet-getting: #7a00ff;
$color-pink-getting: #ff00c8;
$header-color-yellow: rgb(255 249 0);
$header-color-blue: #007BFF;
$gray-color-header: rgba(255, 255, 255, 0.80);
$text-shadow-header: rgba(0, 0, 0, 0.10);
$box-shadow-header: rgba(0, 0, 0, 0.45);
$bg-color-header: #f9f9f9;
$box-shadow-header-light: rgba(0, 0, 0, 0.2);
$bg-color-header-dark: #f1f1f1;
$bg-hill: rgb(2, 37, 155);
$bg-secrets: #85A3B2;
$bg-valleys: #020c21;
$valleys-color-grey: #e0e0e0;