@import "../utils/mixins";
@import "../utils/variable";
@import "../utils/placeholders";

.getting {
    margin: 0;
    padding: 119px 0 117px 0;
    background-color: $bg-getting;
    &__content {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 60px;
        padding-left: 247px;
        &-title {
            color: $Blue-Background;
            font-size: 60px;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            text-align: start;
        }
    }
}

.travelling {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 70px;
    &__line {
        margin-top: 30px;
        width: 2.934px;
        height: 817.215px;
        opacity: 0.3;
        background: $Light-Text;
    }
}

.choose {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 100px;
}

.points {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    &__box {
        position: absolute;
        top: -14px;
        left: -100px;
        width: 58.687px;
        height: 58.687px;
        background-color: $dark-pink-header;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    &__circle {
        color: $white-color;
        text-align: center;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 26.409px;
        font-weight: 500;
        line-height: 38.146px; 
    }
}

.hotel__one {
    flex-direction: column;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    &-title {
        color: $Blue-Background;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 26.409px;
        font-weight: 700;
        line-height: 41.081px;
    }
    &-text {
        color: $Light-Text;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 23.475px;
        font-weight: 400;
        line-height: 38.146px;
        width: 100%;
    }
    &-button {
        color: $white-color;
        text-align: center;
        font-size: 18px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin: 16px 0 0 0;
        padding: 16px 45px;
        border-radius: 122px;
        background: $dark-pink-header;
        border: none;
        position: relative;
        transition: transform 0.3s linear;
        &:hover {
            transform: scale(1.1);
            &::before {
                opacity: 1;
            }
            &::after {
                background-color: $black-color;
            }
        }
        &::before {
            content: '';
            background: linear-gradient(45deg, $color-red-getting, $color-orange-getting, $color-yellow-getting, $color-light-green-getting, $color-turquoise-getting, $color-blue-getting, $color-violet-getting, $color-pink-getting, $color-red-getting);
            position: absolute;
            top: -2px;
            left:-2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 7px);
            height: calc(100% + 7px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 122px;
        }
        &::after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 40px;
            transition: background-color 0.3s ease;
        }
    }
}

.hotel__video {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    &-photo {
        width: 249.419px;
        height: 165.79px;
        border-radius: 7.336px;
    }
}

.flights {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    &__title {
        color: $Blue-Background;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 26.409px;
        font-weight: 700;
        line-height: 41.081px;
    }
    &__text {
        color: $Light-Text;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 23.475px;
        font-weight: 400;
        line-height: 38.146px;
        width: 446.02px;
    }
}

.show-more-button {
    display: none;
}

@keyframes glowing {
    0% { 
        background-position: 0 0; 
    }
    50% { 
        background-position: 400% 0; 
    }
    100% { 
        background-position: 0 0; 
    }
}

@media (max-width: 1800px) {
    .getting {
        &__content {
            padding-left: 15px;
        }
    }
    .travelling {
        padding-left: 40px;
        &__line {
            height: 900px;
        }
    }
    .hotel__one-text {
        width: 800px;
    }
    .flights__text {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .getting {
        padding: 100px 0 100px 0;
        &__content {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 120px;
            &-title {
                font-size: 50px;
                line-height: 46px; 
            }
        }
    }
    .travelling {
        padding: 0;
        &__line {
            display: none;
        }
    }
    .choose {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }
    .points {
        display: flex;
        justify-content: center;
        align-items: center;
        &__box {
            top: -70px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    .hotel__one {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0;
        &-title {
            padding: 0 0 30px 0;
        }
        &-text {
            padding: 0 0 15px 0;
            font-size: 16px;
            width: 700px;
        }
        &-button {
            display: none;
        }
    }
    .show-more-button {
        background: none;
        border: none;
        outline: none;
        color: $dark-pink-header;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .hotel__one-text.collapsed, 
    .flights__text.collapsed {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin: 0;
        width: 200px;
    }
    .hotel__video {
        margin: 32px 0 0 0;
        gap: 32px;
        flex-direction: column;
    }
    .flights {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__text {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .getting {
        padding: 30px 0 73px 0;
        &__content {
            gap: 127px;
            &-title {
                font-size: 40px;
                line-height: 46px; 
            }
        }
    }
    .choose {
        gap: 100px;
    }
    .points {
        &__box {
            position: absolute;
            top: -74px;
            width: 56px;
            height: 56px;
        }
    }
    .hotel__one {
        &-title {
            font-size: 22px;
            line-height: 150%; 
            padding: 0 0 18px 0;
        }
        &-text {
            padding: 0 0 5px 0;
            width: 280px;
        }
    }
    .hotel__video {
        gap: 40px;
        &-photo {
            width: 314px;
            height: 208px;
        }
    }
    .flights__title {
        display: none;
    }
    .flights__text {
        width: 280px;
    }
}

@media (max-width: 480px) {
    .hotel__video {
        &-photo {
            width: 100%;
            height: auto;
        }
    }
}