@import "../utils/variable";
@import "../utils/placeholders";

.secrets {
    background-image: url("../images/secrets/bg-secrects2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 0 0 1400px 0;
    &__content-title {
        color:$Blue-Background;
        text-align: center;
        font-size: 50px;
        @extend %family-dm-style;
        font-weight: 700;
        line-height: 150%;
        padding: 127px 0 44px 0;
        margin: 0;
    }
}
.our {
    @include flex-j-content($display-flex:flex, $js-content:center);
    gap: 31px;
    padding: 0 0 50px 0;
    &__photo {
        width: 300px;
        height: 178px;
    }
}
.carousel-control-prev {
    left: -10px;
}
.carousel-control-next {
    right: -10px;
}
.carousel-control-prev-icon, .carousel-control-next {
    background-image: none;
}
.carousel-indicators{
    gap: 6px;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
    padding: 0;
    margin-right: 3px;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: $bg-secrets;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: $dark-pink-header;
}
.our__photo-beaches {
    display: none;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), (min-resolution: 2dppx) {
    .secrets {
        background-image: url("../images/secrets/bg-secrects2x.png");
    }
}

@media (max-width: 1800px) {
    .carousel-control-prev {
        left: -42px;
    }
    .carousel-control-next {
        right: -42px;
    }
}

@media (max-width: 1200px) {
    .our {
        gap: 13px;
    }
    .carousel-control-prev {
        left: -20px;
    }
    .carousel-control-next {
        right: -20px;
    }
    .our__photo {
        width: 251px;
        height: 156px;
    }
}

@media (max-width: 992px) {
    .carousel-control-prev {
        left: -41px;
    }
    .carousel-control-next {
        right: -41px;
    }
    .our__photo {
        width: 202px;
        height: 129px;
    }
}

@media (max-width: 768px) {
    .our__photo {
        display: none;
    }
    .our__photo-beaches {
        display: block;
        width: 314px;
        height: 200px;
        border-radius: 10px;
    }
    .carousel-control-prev {
        left: -40px;
    }
    .carousel-control-next {
        right: -40px;
    }
}

@media (max-width: 480px) {
    .carousel-control-prev {
        left: -15px;
    }
    .carousel-control-next {
        right: -15px;
    }
    .our__photo-beaches {
        display: block;
        width: 255px;
        height: 181px;
        border-radius: 10px;
    }
}